@model IEnumerable<BistroBossAPI.Models.Dto.UzytkownikListDto>
@using Microsoft.AspNetCore.Identity
@inject UserManager<Uzytkownik> UserManager

@{
    var id = UserManager.GetUserId(User);
    var currentUser = await UserManager.FindByIdAsync(id);
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        <strong>@TempData["ErrorMessage"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        <strong>@TempData["SuccessMessage"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (User.Identity.IsAuthenticated && currentUser.AccessLevel == 2)
{
    <div class="container mt-4">
        <h2 class="text-center mb-4">Użytkownicy</h2>

        @if (!Model.Any())
        {
            <div class="alert alert-warning text-center">
                <strong>Nie ma użytkowników</strong>
            </div>
        }
        else
        {
            <div class="row">
                @foreach (var user in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card shadow-lg border-0">
                            <div class="card-header">
                                <h4>@user.Email</h4>
                            </div>
                            <div class="card-body">
                                <p>
                                    Poziom dostępu:
                                    <span>
                                        @if (user.AccessLevel == 2)
                                        {
                                            <b>Właściciel</b>
                                        }
                                        else if (user.AccessLevel == 1)
                                        {
                                            <b>Pracownik</b>
                                        }
                                        else
                                        {
                                            <b>Użytkownik</b>
                                        }
                                    </span>
                                </p>

                                @if (user.AccessLevel == 0)
                                {
                                    <a asp-action="MakeAdmin" asp-route-id="@user.Id" class="btn btn-info">Uczyń pracownikiem</a>
                                }
                                else if (user.AccessLevel > 0 && user.Id != currentUser.Id)
                                {
                                    <a asp-action="UnmakeAdmin" asp-route-id="@user.Id" class="btn btn-info">Uczyń użytkownikiem</a>
                                }

                                @if (user.AccessLevel != 2)
                                {
                                    <a asp-action="RemoveUser" asp-route-id="@user.Id" class="btn btn-danger">Usuń użytkownika</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}
else
{
    <div class="text-center mt-4">
        <h2 class="text-danger">Brak dostępu!</h2>
    </div>
}
